p {
    animation-duration: 7s;
    /* Nombre de ka animación */
    animation-name: efectotexto;
    /* repetir animación cuando termina  */
    animation-iteration-count: infinite;}
img {
    animation: efectoimagen 7s infinite;
    width: 0%;}
/* Efectos para el texto */
@keyframes efectotexto {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;}
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
        color: red;}
}
/* Efectos para la imagen */
@keyframes efectoimagen {
    from {
        margin-top: 100%;
        width: 15%;
        height: 15%;}
    to {
        margin-top: 0%;
        width: 30%;
        height: 15%;}}